.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  padding: 200px;
  background: rgba(0 0 0/ 0.3);
}
.cover__link:hover {
  background: rgba(0 0 0/ 0.8);
}
