.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  padding: 15%;
  background: rgba(42 44 47/ 0.3);
}
.cover__link:hover {
  background: rgba(42 44 47/ 0.8);
}
@media screen and (max-width: 767px) {
  .cover__link {
    min-height: 200px;
    padding: 0;
  }
}