.header__links {
  margin: 0 48px 0 0;
  padding: 46px 0 0 0;
  list-style: none;
  display: flex;
}
@media screen and (max-width: 1023px) {
  .header__links {
    margin: 0 24px 0 0;
  }
}
@media screen and (max-width: 767px) {
  .header__links {
    margin: 0 16px 0 0;
    padding: 30px 0 0 0;
  }
}
