.gallary__photos {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
  grid-template-rows: repeat(3, auto);
  gap: 16px;
  justify-content: center;
}
@media screen and (max-width: 1279px) {
  .gallary__photos {
    width: 928px; /* Размер соответствует макету */
    gap: 14px;
  }
}
@media screen and (max-width: 1023px) {
  .gallary__photos {
    width: 720px; /* Размер соответствует макету */
    gap: 16px;
  }
}
@media screen and (max-width: 767px) {
  .gallary__photos {
    width: 288px; /* Размер соответствует макету */
    gap: 12px;
  }
}