@media screen and (max-width: 1279px) {
  .cover__link {
    width: 1024px;
    padding: 0;
  }
  .cover__image {
    width: 1024px;
    margin: auto;
  }
  .places {
    margin-left: 48px;
  }
  .place__text-paragraph {
    width: 456px;
  }
  .place__image {
    max-width: 440px;
    height: 440px;
  }
  .place__title {
    max-width: 440px;
  }
  .lead__image {
    width: 928px;
  }
  .intro__title {
    margin-left: 48px;
  }
  .intro__text {
    margin-left: 48px;
  }
  .intro__list {
    margin-left: 48px;
  }
  .lead__caption {
    margin-left: 48px;
  }
  .place {
    grid-template-columns: repeat(auto-fit, minmax(440px, max-content));
  }
}
@media screen and (max-width: 1023px) {
  .cover__link {
    width: 768px;
    padding: 0;
  }
  .cover__image {
    width: 768px;
    margin: auto;
  }
  .places {
    margin-left: 24px;
  }
  .place {
    grid-template-columns: repeat(auto-fit, minmax(340px, max-content));
  }
  .place__text-paragraph {
    width: 352px;
  }
  .place__image {
    max-width: 340px;
    height: 340px;
  }
  .place__title {
    max-width: 340px;
    font-size: 42px;
  }
  .lead__image {
    width: 768px;
  }
  .intro__title {
    margin-left: 24px;
    max-width: 720px;
  }
  .intro__text {
    margin-left: 24px;
    max-width: 720px;
  }
  .intro__list {
    margin-left: 24px;
    max-width: 720px;
  }
  .lead__caption {
    margin-left: 24px;
  }
  .footer__links {
    margin-left: 24px;
  }
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
    margin: 16px 0 0 16px;
  }
  .header__links {
    padding: 30px 0 0 0;
    margin-right: 18px;
}


  .cover__link {
    width: 320px;
    height: 200px;
    padding: 0;
  }
  .cover__image {
    width: 320px;
    height: 200px;
    margin: auto;
  }
  .places {
    margin-left: 0;
  }
  .place {
    grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
  }
  .place__text-paragraph {
    width: 288px;
  }
  .place__image {
    max-width: 320px;
    height: 320px;
  }
  .place__title {
    max-width: 288px;
    font-size: 32px;
  }
  .lead__image {
    width: 320px;
    height: 200px;
  }
  .lead__title {
    width: 288px;
    font-size: 40px;
  }
  .lead__subtitle {
    width: 288px;
    font-size: 16px;
  }
  .intro__title {
    margin-left: 16px;
    max-width: 288px;
    font-size: 32px;
  }
  .intro__text {
    margin-left: 16px;
    max-width: 288px;
  }
  .intro__list {
    margin-left: 12px;
    max-width: 288px;
  }
  .lead__caption {
    margin-left: 16px;
  }
  .footer__links {
    margin-left: 16px;
    display: block;
  }
  .footer {
    display: block;
  }
  .footer__autor {
    margin-left: 16px;
  }
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
  }
  .cover__title {
    max-width: 288px;
    font-size: 32px;
  }
}
