.cover {
  text-align: center;
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
  margin: 92px auto 0 auto;
  display: flex;
  justify-content: center;
  background-image: url("../../images/cover-trains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1279px) {
  .cover {
    min-height: 640px;
    width: 100%;
    margin: 92px 0 0 0;
  }
}
@media screen and (max-width: 1023px) {
  .cover {
    min-height: 480px;
    margin: 90px 0 0 0;
  }
}
@media screen and (max-width: 767px) {
  .cover {
    min-height: 200px;
    margin: 66px 0 0 0;
  }
}
