.cover {
  text-align: center;
  max-width: 1184px;
  min-height: 740px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  background-image: url("../../images/cover-trains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
