.place__link {
  color: white;
  font-size: 18px;
  line-height: 122%;
  max-width: 456px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .place__link {
    margin-left: 16px;
  }
}