.place__text-paragraph {
  color: white;
  margin: 0 0 27px 0;
  padding: 0;
  font-size: 18px;
  max-width: 484px;
  font-size: 0.75em;
  line-height: 163%;
}
@media screen and (max-width: 1279px) {
  .place__text-paragraph {
    max-width: 456px;
  }
}
@media screen and (max-width: 1023px) {
  .place__text-paragraph {
    max-width: 352px;
    font-size: 16px;
    margin: 0 0 25px 0;
  }
}
@media screen and (max-width: 767px) {
  .place__text-paragraph {
    max-width: 288px;
    margin: 0 0 26px 16px;
    font-size: 16px;
    margin-left: 16px;
  }
}