@import url(../vendor/normalize.css);
@import url(../vendor/font.css);
@import url(../blocks/project/project.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__link/_language/header__link_laqnguage-en.css);
@import url(../blocks/header/__link/_language/header__link_laqnguage-ru.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/caption/lead__caption.css);
@import url(../blocks/lead/subtitle/lead__subtitle.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__list/_number/intro__list_number.css);
@import url(../blocks/gallary/gallary.css);
@import url(../blocks/gallary/__photos/gallary__photos.css);
@import url(../blocks/gallary/__photo/gallary__photo.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__url/place__url.css);
@import url(../blocks/place/__text/place__text.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__url-block/place__url-block.css);
@import url(../blocks/place/__text-paragraph/place__text-paragraph.css);
@import url(../blocks/cover/__title/overlay__title.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__autor/footer__autor.css);