.lead__caption {
  color: white;
  margin: 0;
  padding-left: 148px;
  padding: 0;
  text-align: start;
  font-size: 0.417em;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 1025px) {
  .lead__caption {
    margin: 0 0 0 48px;
  }
}
@media screen and (max-width: 769px) {
  .lead__caption {
    margin: 0 0 0 24px;
  }
}
@media screen and (max-width: 340px) {
  .lead__caption {
    margin: 0 0 0 16px;
  }
}
