.place__url {
  line-height: 12px;
  font-size: 12px;
  color: #aaaaaa;
  margin: 106px 0 0 0;
  max-width: 100px;
}
@media screen and (max-width: 1023px) {
  .place__url {
    margin: 46px 0 0 0;
  }
}
@media screen and (max-width: 767px) {
  .place__url {
    margin: 32px 0 0 16px;
  }
}
